body{
	align-items: center;
	background-color: #F2F2F2;
	display: flex;
	height: 100vh;
	justify-content: center;
	margin: 0;
	min-height: 440px;
	overflow-x: hidden;
	width: 100vw;
}

body > div{
	background-color: #393939;
	border-radius: 3px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 600px;
	max-width: 990px;
	padding: 8px;
	position: relative;
	width: 100%;
}

#large-bars{
	display: flex;
	height: 69%;
	position: relative;
	width: 100%;
}

#large-bars :first-child{
	border-top-left-radius: 3px;
}

#large-bars :nth-child(7){
	border-top-right-radius: 3px;
}

.bar{
	height: 100%;
	width: 100%;
}

.text{
	align-items: flex-end;
	display: flex;
	height: 100%;
	position: absolute;
	width: 100%;
}

h1{
	font-family: Arial, sans-serif;
	font-size: 62pt;
	font-weight: 600;
	margin: 0 0 14px 14px;
}

#small-bars{
	display: flex;
	height: 37px;
	width: 100%;
}
#small-bars .bar{
	background-color: #212121;
}

#final-space {
	background-color: #101010;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	flex-grow: 1;
	position: relative;
}

#final-space .text{
	align-items: flex-start;
}

p{	
	color: white;
	font-family: Arial, sans-serif;
	font-size: 20pt;
	margin: 14px 14px 0 14px; 
}

#painel-item{
	align-self: flex-end;
	background-color: #EC9DB8;
	bottom: 0;
	border-radius: 4px;
	box-shadow: 0 0 4px #FF1B1B, 0 0 4px #FF1B1B;
	height: 4px;
	margin: 2px 2px 2px 0 ;
	position: absolute;
	width: 4px;
}

#painel-item.brand-mark{
	align-self: center;
	background-color: #BBB;
	box-shadow: none;
	width: 60px;
}

@media (max-width: 990px){
	body > div{
		border-radius: 0;
	}
}

@media (max-height: 600px){
	body > div, #large-bars .bar{
		border-radius: 0;
	}
}

@media (max-width: 940px){
	#large-bars :nth-child(7){
		display: none;
	}

	#large-bars :nth-child(6){
		border-top-right-radius: 3px;
	}

	#small-bars :nth-child(7){
		display: none;
	}
}

@media (max-width: 500px){
	#large-bars :nth-child(5){
		display: none;
	}

	#small-bars :nth-child(6){
		display: none;
	}

	h1{
		font-size: 48pt;
	}

	p{
		font-size: 16pt;
	}
}